# NOTICE: This file was modified from the original google/meridian source.
# See the NOTICE file at the repository root for details.

# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea

# pyenv, virtualenv artifacts.
.python-version
.venv/
venv/
env/

# Local environment overrides.
.env
