{#
Copyright 2026 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

NOTICE: This file was modified from the original google/meridian source.
See the NOTICE file at the repository root, and TRIAGE.md, for what changed
and why.
#}
<card id="calibration-details" class="calibration-details-card">
  <card-title>
    Calibration details
  </card-title>

  <infos>
    <infos-icon>
      <img src="https://www.gstatic.com/images/icons/material/system/svg/info_outline_24px.svg"
            alt="info icon" />
    </infos-icon>
    <p class="info-text">{{ details_description }}</p>
  </infos>

  <div class="plots-section">
    {% for ch in plotted_channels %}
      <div class="plot-container">
        <div id="calibration-details-chart-{{ ch.chart_id }}"></div>
      </div>
    {% endfor %}
  </div>
</card>

<script type="text/javascript">
  (() => {
    {% for ch in plotted_channels %}
      {% if ch.chart_json %}
        const spec_{{ ch.chart_id }} = JSON.parse({{ ch.chart_json|tojson }});
        vegaEmbed('#calibration-details-chart-{{ ch.chart_id }}', spec_{{ ch.chart_id }}).catch(console.error);
      {% endif %}
    {% endfor %}
  })();
</script>
